<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">	  
	  <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">

    <title>bootstrap 4 sidebar</title>
  </head>
  <body>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/recipes">Recipes</a>
    </li>
    {{#if user}}
    <li class="nav-item">
      <a class="nav-link" href="/recipes/new">New</a>
    </li>
    {{/if}}
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    {{#if user}}
    <li class="nav-item">
      <a class="nav-link" href="/auth/logout">Log Out</a>
    </li>
    {{else}}
    <li class="nav-item">
      <a class="nav-link" href="/auth/google"><i class="fa fa-google-plus-square"></i> Log In</a>
    </li>
    {{/if}}
    <li class="nav-item nav-logo">
      <a class="nav-link active" href="/">Dishie</a>
    </li>
  </ul>
   
    <div class="wrapper">
    	<nav id="sidebar">
   		    <div class="sidebar-header">
   		    	<h3>Dishie</h3>
   	    	</div>
      		<ul class="list-unstyled components">
   			    <li>
   		    		<a href="/">Home</a>
   	    		</li>
       			<li>
   			    	<a href="/recipes">Recipes</a>
   		    	</li>
               <li>
                    <a href="/about">About</a>
                </li>
   		    	<li>
               {{#if user}}
   				        <a href="/auth/logout">Log Out</a>
               {{else}}
   				        <a href="/auth/google"><i class="fa fa-google-plus-square"></i> Log In with Google</a>
               {{/if}}
   			    </li>
   		    </ul>
   	  </nav>
      <div class='content'>
   	    {{{body}}}
      </div>
      {{#if user}}
        <a href="/recipes/new" class="float">
            <i class="fa fa-plus my-float"></i>
        </a>
      {{/if}}
    </div>
    <script src='/js/script.js'></script>
  </body>
</html>