<form action="/recipes" method="post" accept-charset="utf-8">
<div class="form-group">
  <label class="col-form-label" for="title">title</label>
  <input type="text" class="form-control" placeholder='title' name="title" required>
</div>
<div class="form-group">
  <label class="col-form-label" for="description">description</label>
  <input type="text" class="form-control" placeholder="description" name="description" required>
</div> 
<div class="form-group">
  <label class="col-form-label" for="img">img link:</label>
  <input type="text" class="form-control" placeholder="img" name="img" required>
</div>
<div class="form-group">
  <label class="col-form-label" for="type">ingredients:</label>
  <input type="text" class="form-control" placeholder="ingredients" name="ingredients" required>
</div>
<div class="form-group">
  <label for="description">instructions:</label>
  <input type="text" class="form-control" placeholder="instructions" name="instructions" required>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>