<div class="rec-container">
  <div class="jumbotron mt-3 welcome-jumbo">
      <div class="info">
        <h1 class="display-4">About</h1>
        <p>Dishie is a web application for adding, sharing, and managing recipes and recipe ingredients. Users may upload their own recipes, or save others' recipes. The primary data type stored in each recipe is the recipe's ingredients. These ingredients can be used to autopopulate a user's grocery list. (coming soon...)</p>
      </div>
      <div class="welcome-btns">
        <a class="btn btn-primary btn-about mt-5 mx-5" href="/recipes" role="button">View Recipes</a>
      </div>
  </div>
</div>