<div class="rec-container">
  <div class="jumbotron mt-3 welcome-jumbo">
      <div class="info">
        <h1 class="display-4">Welcome</h1>
        <p>Dishie has thousands of recipes to browse and can even build you a grocery list!</p>
      </div>
      <div class="welcome-btns">
        <a class="btn btn-primary btn-login" href="/auth/google" role="button">Sign in with google</a>
        <a class="btn btn-primary btn-about" href="/about" role="button">More Info</a>
      </div>
  </div>
  <h3>Featured Recipes:</h3>
  {{> liPartial}}

  <a href="/recipes" class="more">See more...</a>
</div>