<div class="rec-container">
  <div class="jumbotron mt-3">
    <h1 class="display-4">Recipes:</h1>
    <p class='search-p'>Looking for something specific?</p>
    <form action='/recipes/search' method='post' class="form my-2 my-lg-0 search-form">
      <input class="form-control mr-3 search" name='query' type="text" placeholder="Search for a recipe">
      <button class="btn btn-primary btn-search" type="submit">Search</button>
    </form>
  </div>
  {{> liPartial}}
</div>